body {
    background: rgb(0, 0, 0);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    
    margin: 0px;
    padding: 0px 25vw;
    
    overflow: hidden;
}

#logo-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    z-index: 1;
}

#title {
    font-size: 50px;
    margin: 25px;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

.blurb {
    font-size: 30px;
}

.container {
    width: 75vw;
}

@media screen and (min-width: 500px){
    .container {
        width: 50vw;
    }
}

.text {
    font-family: 'Cormorant Garamond', serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    position: relative;
    z-index: 2;
}